.box {
    background-color: #f3f4f6;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    width: auto;
    float: left;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
td {
    border-bottom: 1px #cbd5e1 dashed;
    padding: 1rem 0 1rem 0;
    vertical-align: middle;
}
.lastrow{
    border-bottom: none;
    min-width: 8rem
}
textarea, input[type=text] {
    width: 20rem
}
textarea {
    height: 7rem
}
.checklabel, .radiolabel, input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
    vertical-align: middle;
    margin: 0.15rem
}